body {
  background-color: #ffefe2;
}

.page {
  font-family: "Inter", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: white;
  background-size: 100% 100%;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1280px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section__title {
  font-size: 32px;
  margin: 0;
}

.section__subtitle {
  color: #fecca7;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 0 40px 0;
}

/* header */
.header {
  display: flex;
  max-width: 100%;
  padding: 28px 48px 0;
  margin: 0 auto;
  justify-content: space-between;
}

.header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.header__list-item {
  margin-right: 20px;
}

.header__list-item:last-of-type {
  margin-right: 0;
}

.header__link {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  /*  */
  padding: 4px 10px;
  border-radius: 5px;
  transition: 0.2s;
  opacity: 0.7;
}

.header__link:hover {
  background-color: #fecca7;
  opacity: 1;
}

.header__report {
  font-weight: bold;
  font-size: 14px;
}

/* question */
.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 85px auto 135px;
  max-width: 100%;
  padding: 0 156px 0 66px;
}

.question__container {
  max-width: 550px;
  max-height: 350px;
}

.question__image {
  width: 345px;
  margin: 0 0 0 40px;
  max-height: 345px;
  object-fit: cover;
  border: 5px solid white;
  transition: 0.3s;
}

.question__image:hover {
  border-radius: 30%;
  border: 5px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* places */
.places {
  max-width: 100%;
  margin: 0;
}

.cards {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #f2f2f2;
}

.card__image-container {
  overflow: hidden;
  max-height: 535px;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  max-height: 535px;
}

.card__image {
  width: 100%;
  height: 535px;
  object-fit: cover;
  transition: 0.3s;
}

.card__image:hover {
  transform: scale(1.2);
}

.card__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  padding: 56px 72px 70px;
  max-height: 535px;
}

.card__title {
  font-size: 36px;
  margin: 0;
}

.card__paragraph {
  max-width: 360px;
  font-size: 14px;
  margin: 0 0 34px 0;
}

.card__paragraph:first-of-type {
  margin-top: 0;
}

/* people */
.people {
  padding: 133px 72px 142px;
}

.quotes {
  padding: 0;
  margin: 122px 0 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quote {
  max-width: 227px;
}

.quote__title {
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 28px 0;
}

.quote__text {
  font-size: 14px;
  margin: 0;
}

/* footer */
.footer {
  width: 100%;
  background-color: #fecca7;
  padding: 285px 0 290px;
}

.footer__copyright {
  font-size: 38px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .page {
    padding: 0;
  }
}

@media screen and (max-width: 1100px) {
  .quotes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
  }

  .quote {
    max-width: 80%;
  }

  .footer {
    padding: 200px 0;
  }
}

@media screen and (max-width: 930px) {
  .question {
    padding: 0;
    max-width: 80%;
  }

  .question__image {
    width: 100%;
    object-position: top;
  }
}

@media screen and (max-width: 800px) {
  .card__text-container {
    padding: 40px;
  }

  .footer {
    padding: 120px 0;
  }
}

@media screen and (max-width: 680px) {
  .header {
    padding: 30px 0 0;
    max-width: 80%;
    margin: 0 auto;
  }

  .header__list {
    flex-direction: column;
    align-items: end;
  }

  .header__list-item {
    display: inline-block;
    margin: 0 0 10px 0;
  }

  .header__container {
    flex-direction: column;
    align-items: end;
  }

  .question {
    flex-direction: column;
    padding: 0;
    margin: 50px auto;
    max-width: 80%;
  }

  .question__image {
    margin: 40px 0 0 0;
  }

  .card {
    display: flex;
    flex-direction: column;
    max-height: unset;
  }

  .card:nth-of-type(2) {
    flex-direction: column-reverse;
  }

  .card__text-container {
    padding: 0;
    max-width: 80%;
    margin: 40px auto;
  }

  .card__title {
    margin-bottom: 40px;
  }

  .people {
    padding: 0;
    margin: 40px auto;
    max-width: 80%;
  }

  .quotes {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  .quote {
    max-width: 227px;
    margin-bottom: 24px;
    max-width: 100%;
  }

  .quote:last-of-type {
    margin-bottom: 0;
  }

  .quote__text {
    max-width: 100%;
    width: 100%;
  }

  .footer {
    padding: 80px 0;
  }

  .footer__copyright {
    font-size: 25px;
  }
}

@media screen and (max-width: 400px) {
  .section__title {
    font-size: 26px;
  }

  .question__image {
    width: 100%;
  }
}
