/* header */

.header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 680px) {
  .header__container {
    flex-direction: column;
    align-items: end;
  }
}
